@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserMaster> SignInManager
@inject UserManager<UserMaster> UserManager
<style>
    .loginnav li>a
    {
        padding:0;
        color:#121212;
        margin:5px 0;
        padding-left:20px;
    }
    .loginnav li>a:hover
    {
        color:#19c40c;
    }
    .loginnav
    {
        margin-right:40px;
    }
</style>
    <ul class="loginnav navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="dropdown-holder">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="dropdown-holder">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
             <li class="dropdown-holder">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="dropdown-holder">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
